* {
 margin: 0;
 padding: 0;
 text-decoration: none;
 list-style: none;
 font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #48cae4;
    --cor2: #ade8f4;
    --cor3: #0096c7;
    --cor4: lightgray;
    --background: whitesmoke;
}

body {
    background-image: linear-gradient(to top, var(--cor3), var(--cor1));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    background-color: var(--background);
    height: 7vh;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.418);
    padding: 10px;
     position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.logo {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
}

main{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    max-height: 90vh;
    margin: 200px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 90vw;
}

.buttons > a {
    color: black;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background-color: var(--cor4);
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.445);
}

.buttons > label {
    border: none;
    color: black;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background-color: var(--cor4);
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.445);
}

label > input {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
}
input:focus {
    outline: none;
}

label > img {
    width: 3vw;
}

a > img {
    width: 3vw;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--cor2);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.425);
}

footer > a > img {
    width: 5vw;
    height: 5vw;
}